@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,200);
@import "./bootstrap.min.css";
@import "./jam.min.css";
@import "./now-ui-dashboard-compiled.css";
td a{
   margin-right: 10px; 
}
td a:hover, td a:focus, td a:active,  a[data-dismiss]:hover, a[data-dismiss]:focus, a[data-dismiss]:active{
    text-decoration: none !important;
}
.table td, .table th{
    min-width: 100px;
}